<div class="navbar-container">
<% if (currentUser.role === "professional"){ %>
<nav class="navbar-prof">
<a href="/profile">Profile</a>
<a href="/profile/edit">Edit info</a>
<form action="/logout" method="post">
  <input type="submit" value="Log out">
</form>
</nav>
<% } else if ( currentUser.role === "client"){ %>
<nav class="navbar-client">
  <a href="/profile">Profile </a>
  <a href="/clients/my-favorites">My fav. Stores </a>
  <a href="/clients/add-favorite">Add a Store </a>
  <form action="/logout" method="post">
    <input type="submit" value="Log out">
  </form>
</nav>
<% } %>
</div>
