<div class="navbar-container">
<% if (currentUser.role === "professional"){ %>
<nav class="navbar-prof">
<a href="/profile"><i class="far fa-user"></i></a>
<a href="/profile/edit"><i class="fas fa-user-edit"></i></a>
<a href="/logout"><i class="fas fa-sign-out-alt"></i></a>

<% } else if ( currentUser.role === "client"){ %>
<nav class="navbar-client">

  <a href="/profile"><i class="far fa-user"></i></a>
  <a href="/clients/my-favorites"><i class="fas fa-store"></i></a>
  <a href="/clients/add-favorite"><i class="fas fa-plus-circle"></i> </a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>

</nav>
<% } %>
</div>
