<div class="addfav-header"></div>
<h1>Welcome <%= currentUser.username %> </h1>
<p>ENTER THE STORE CODE</p>
</div>
<form class="primary-form" action="/clients/add-favorite" method="post">
  <label for="">Code:</label>
  <input type="text" name="code" id="">
  <input type="submit" value="send">
</form>
<div class="container">
  <%- include('partials/navbar.ejs') %>
</div>
