<h1 class="page-title">Welcome <%= currentUser.username %> </h1>
<form class="primary-form small" action="/clients/add-favorite" method="post">
  <label for="">ENTER THE STORE CODE:</label>
  <input type="text" name="code" id="">
  <button class="button-primary" type="submit">Add a Store !</button>
</form>
<%- include('partials/notification.ejs') %>
<%- include('partials/navbar.ejs') %>
