<h2><%=professional.username%></h2>
<p>serviceChoosen</p>

<h2>Please, choose an employee</h2>
<form action="" method="get">
<% professional.employees.forEach( element =>{ %>
<input type="radio" name="service" value=" <%= element %>" > <%= element %>

<% }) %>
<input type="submit" value="Submit">
</form>