<div class="home-logo-block">
  <img src="/images/homelogo.jpg" alt="Logo de la applicación de unas tijeras y un mechón de pelo">
  <h1>SUPER APP</h1>
</div>
<div class="home-link-block">
  <p>Are you NEW?</p>
  <a href="/signup.ejs">SIGN UP</a>
</div>
<div class="home-link-block">
  <p>Have already an account?</p>
  <a href="/login.ejs">LOG IN</a>
</div>
</div>