<form class= "primary-form center-view" action="/login" method="post">

<label for="">USERNAME</label>
<input type="text" name="username">
<label for="">PASSWORD</label>
<input type="password" name="password">
<input type="submit" value="submit">
</form>
<%- include('partials/notification.ejs') %>