<h1 class="page-title small">Sign up</h1>
<form class="primary-form large" action="/professionals/signup" method="post">
  <label for="">USERNAME</label>
  <input type="text" name="username">
  <label for="">PASSWORD</label>
  <input type="password" name="password">
  <label for="">EMAIL</label>
  <input type="email" name="email">
  <label for="">IMAGE URL</label>
  <input type="TEXT" name="image">
  <label for="">CODE</label>
  <input type="text" name="code">
  <button class="button-primary" type="submit">Sign up!</button>
</form>
<%- include('partials/notification.ejs') %>
<p>Already have an account? <a href="/professionals/login">Log in here</a> </p>
