<form action="/signup" method="post">
<label for="">USERNAME</label>
<input type="text" name="username">
<label for="">PASSWORD</label>
<input type="password" name="password">
<label for="">EMAIL</label>
<input type="email" name="email">
<label for="">TYPE OF USER</label>
<select name="role">
  <option value="professional">Professional</option>
  <option value="client">Client</option>
</select>
<label for="">IMAGE</label>
<input type="file" name="image">
<input type="submit" value="Submit">
</form>
<%- include('partials/notification.ejs') %>