/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: slategrey;
}


/* ---- typography ---- */

body {
  color: rgb(233, 218, 218);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {

}

h2 {}

h3 {}

p {
  margin: 0;
  font-size: 1.1em;
}

/* ---- Home-Page --- */

.home-logo-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% 0;
}

.logo{
  font-family: 'Charmonman', cursive;
  font-size: 76px;
}

.home-logo-block img{
  width: 50%;
  height: auto;
}

.home-link-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  margin-bottom: 15%;
  font-family: 'Arbutus Slab', serif;  
}

.button-primary{ 
  border-radius: 15px;
  text-decoration: none;
  background-color: #9193d0;
  color: black;
  border: 2px solid white;
  padding: 3% 5%;
}

/* --- SIGN UP CLIENT FORM VIEW --- */

.primary-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5% 10%;
  font-family: 'Arbutus Slab', serif; 

}
/* --- LOG IN CLIENT VIEW --- */
.primary-form label , input{
  margin-bottom: 10%;
  font-size: 1.3em;
}
.center-view{
  margin-top: 50%;
}

/* --- NAV BARS --- */

.navbar-client, .navbar-prof{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #34343a;
  padding: 7%;
  font-size: 0.9em; 
}
 .navbar-client a  {
  text-decoration: none;
  color: cornflowerblue;
  padding: 1%;
 }
.navbar-client form, .navbar-prof form{
 display: inline;
 color: cornflowerblue;
}
.navbar-client form input, .navbar-prof form input{
  margin: 0;
  color: cornflowerblue;
  background-color: #34343a;
  text-decoration: none;
  border: none;
}
.navbar-prof a {
  text-decoration: none;
  color: cornflowerblue;
  padding: 0 10%;
}


/* --- PROFESSIONAL PROFILE LANDING --- */

.profprofile-info{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.profprofile-info img{
  width: 60%;
}
