/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3E517A;
}

.container{
  margin: 0 20px;
}

.page-title{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
}
.page-title.small{
  height: 1vh;
}

a{
  color: #F6AE2D;
  text-decoration: none;
}
/* ---- typography ---- */

body {
  color: rgb(233, 218, 218);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}
.alert{
  color: white;
  background-color: black;
  font-size: 1.2em;
  width: 112%;
  margin: 0 -20px;
  text-align: center;
  height: 36px;
  padding: 7px 0;
}

p {
  margin: 0;
  font-size: 1.1em;
}

.view-navbar{
  margin-bottom: 127px;
}

/* ---- Home-Page --- */

.home-logo-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 0;
}

.logo{
  font-family: 'Charmonman', cursive;
  font-size: 76px;
}

.home-logo-block img{
  width: 30%;
  height: auto;
}

.home-link-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15%;
  font-family: 'Arbutus Slab', serif;  
}


.button-primary{ 
  border-radius: 15px;
  text-decoration: none;
  background-color: #F26419;
  color: white;
  border: 2px solid white;
  padding: 7% 5%;
  font-size: 1.2em;
}
.button-primary.small{
  padding: 5%;
  margin-top: 15px;
}


.button-delete{ 
  border-radius: 15px;
  text-decoration: none;
  background-color: rgb(245, 0, 0);
  color: white;
  border: 2px solid white;
  padding: 0 4%;
  font-size: 1.2em;
  width:30%;
}

.button-add{ 
  border-radius: 15px;
  text-decoration: none;
  background-color: rgb(103, 212, 0);
  color: white;
  border: 2px solid white;
  padding: 0 4%;
  font-size: 1.1em;
  width:55%;
}

.button-delete.edit, .button-add.edit{
  margin-bottom: 15px;
}

.home-link-block .button-primary{ 
  padding: 3% 5%;
  font-size: 1em;
}

/* --- SIGN UP CLIENT FORM VIEW --- */

.primary-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 10%;
  font-family: 'Arbutus Slab', serif; 
  height: 70vh;
  justify-content: center;
}

.primary-form.small{
  height: 50vh;
}

.primary-form.large{
  height: 85vh;
}

.edit-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 10%;
  font-family: 'Arbutus Slab', serif; 
  justify-content: center;
  padding-bottom: 15px;
}

.first-edit{
  height: 90vh;
}
.second-edit{
  height: 70vh;
}

/* --- LOG IN CLIENT VIEW --- */
.primary-form label,.edit-form label {
  margin-bottom: 3%;
  font-size: 1em;
}
.primary-form input, .edit-form input{
  margin-bottom: 15px;
  font-size: 1em;
  height: 40px;
}



/* --- NAV BARS --- */

.navbar-client, .navbar-prof{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #34343a;
  padding: 7%;
  font-size: 0.9em; 
  margin-left: -20px;
  font-size: 1.4em;
}

 .navbar-client a  {
  text-decoration: none;
  padding: 1% 14px;
  font-size: 2em;
  color: #F6AE2D;
 }


.navbar-prof a {
  text-decoration: none;
  padding: 1% 28px;
  font-size: 2em;
  color: #F6AE2D;
}


/* --- PROFESSIONAL PROFILE LANDING --- */

.profprofile-info{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.profprofile-info img{
  width: 80%;
}

.orange{
  color:  #F6AE2D;
}
.services-btn{
  background-color: #34343a;
  padding: 16px;
  font-size: 1.2em;
  border: 1px solid;
  margin: 0 5px;
  text-transform: capitalize;
  border-radius: 5px;
  width: 44%;
}

.title-section{
  padding-bottom: 20px;
  font-size: 1.2em;
}

/* --- FAVORITE LIST --- */

.favorites-list{
  list-style: none;
  padding-left: 0;
  margin-bottom: 127px;;
}
.favorites-list li{
  background-color: #34343a;
  color: black;
  text-align: center;
  border-radius: 15px;
  padding: 23px;
  border: 1px solid #F6AE2D;
  margin-bottom: 10px;
  font-size: 20px;
}
.favorites-list a{
  text-transform: capitalize;
}

/* --- TIMEBLOCK VIEW --- */

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.name-timeblock{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 30px auto 120px auto;

}

/* --- PROFILE VIEWS ---*/

.cards{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  background-color: #3E5154;
  padding-left: 8%;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
